h1{
    color: white;
}
.home{
    overflow-x: hidden;
    max-width: 100%;
}
.navbar-white navbar navbar-expand-lg navbar-light bg-light{
    --bs-bg-opacity: 1;
    background-color: white;
}
.white-text{
    color:white;
    font-family: 'Recoleta', cursive;
}
.garment-size{
    width: 65%;
    height: 800px;
}
.overlap-short-term{
    margin-top: -680px;
    //margin-right: 150px;
    // margin-left: 7vw;
    // margin-left: 4.2vw;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.center-icon{
    // display: block;
    margin-left: 4vw;
    margin-right: 4vw;
    margin-top: -50px;
}
.right{
    float:right;
    margin-left: -200px;
    margin-right: 5vw;
}
.container{
    display:flex; /*changes the container into a flex box*/
	flex-wrap:wrap; /*wrap, nowrap, wrap-reverse*/
	flex-direction:row; /*row, row-reverse, column, column-reverse*/
	align-content:flex-start; /*flex-start, flex-end, center, stretch, space-between, space around*/
	align-items:stretch; /*flex-end, center, stretch, baseline*/
}
.left{
    float: left;
    margin-right: -200px;
    margin-left: 5vw;
}
.icons{
    margin-top: -20px;
}
.icon-caption{
    color:white;
    font-family: 'Recoleta Bold', cursive;
    font-size: 1vw;
}
.icon-size{
    height:6vw;
}
.left-lower{
    float: left;
    // margin-top: 40px;
    margin-top: 40px;
    margin-left: 25vw;
    margin-right: -200px;
}
.right-lower{
    float: right;
    margin-right: 23vw;
    margin-left: -180px;
    margin-top: 40px;
}
.left-half{
    margin: 4%;
    width: 42%;
    padding: 4%;
    box-sizing: border-box;
    text-align: left;
}
.column{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    //justify-content: center;
}
.center-process{
    margin: 2%;
    width: 46%;
    padding: 3%;
    box-sizing: border-box;
    text-align: left;
}
.right-half-process{
    margin: 2%;
    width: 46%;
    padding: 3%;
    box-sizing: border-box;
    text-align: right;
    float: right;
}
.left-half-process{
    margin: 2%;
    width: 46%;
    padding: 2%;
    box-sizing: border-box;
    text-align: left;
    float: left;
}
.fashion-pic {
    box-sizing:border-box;
    text-align: center;
    margin: auto;
}
.fashion-pic-left{
    margin:2%;
	width:46%;
	padding:2%;
    padding-right: 8vw;
    box-sizing:border-box;
    float:left;
    text-align: center;
}
.process-step{
    display: inline-block;
}
.pic-adjustments{
    width: 30%;
    margin-top: 1vw;
}
.pic-adjustments-story{
    width: 70%;
}
.left-float-heading{
    font-family: 'Recoleta';
    font-size: 3.5vw;
    color: white;
}
.why-us-text{
    font-family: 'Recoleta';
    font-size: 3.5vw;
    color: white;
    text-align: left;
    padding-left: 4vw;
}
.why-us-wrapper{
    text-align: right;
    width: 50%;
    padding-top: 2.5vw;
    padding-right: 4vw;
}
.why-us-paragraph{
    font-family: 'Basis Grotesque Arabic Pro Medium', cursive;
    font-size: 1vw;
    color: white;
}
.about-paragraph{
    padding-top: 2vw;
    font-family: 'Basis Grotesque Arabic Pro Medium', cursive;
    font-size: 1.5vw;
    color: white;
}
.carousel-image{
    width: 80%;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    margin-top: 25vw;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
}
.process-paragraph{
    position: absolute;
    align-self: flex-start;
    font-family: 'Basis Grotesque Arabic Pro Medium', cursive;
    font-size: 1.1vw;
    color: white;
    width: 50%;
    margin-top: 5vw;
}
.left-align{
    float: left;
    text-align: left;
}
.right-align{
    float: right;
    text-align:right;
}
.process-page{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.header-pic{
    // background-size: cover;
    width: 90%;
    height: 20%;
    padding-top: 1vw;
    overflow-x: hidden;
}
.process-header{
    font-family: 'Recoleta Bold', cursive;
    color: white;
    font-size: 5vw;
    margin-top: -3vw;
}
.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: black;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.menu-item{
    font-family: 'Basis Grotesque Arabic Pro Medium', cursive;
    font: 1.2em;
    color: black;
}
.top-bar{
    display: flex; 
    height: 200%;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    // padding-top: 20px;
    color: white; 
    flex-direction: row;
    font-family: 'Basis Grotesque Arabic Pro Medium', cursive; 

    .logo{
        display: flex;
        padding-left: 30px;        
        font-size: 32px; 
        flex-direction: row;
        font-family:'Basis Grotesque Arabic Pro Medium', cursive; 
        color: black;
        .svg{
            margin-top: 0px; 
        }
    }

    .nav-bar-item-active{
        display: flex; 
        font-size: 18px;
        cursor:pointer;
        align-self: flex-end;
        margin: 10px;  
        color: rgb(55, 55, 55);

        &:hover{
            color: black;
        }

    }

    .nav-bar-item-inactive{
        display: flex; 
        cursor:pointer;
        font-size: 18px;
        align-self: flex-end;
        color: rgb(55, 55, 55);
        margin: 10px;   

        &:hover{
            color: black;
        }

    }
}